.block-container {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  background: linear-gradient(to bottom, rgba(89, 136, 227, .5), rgba(104, 68, 151, .5));

  z-index: 10;

  .watch-container {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    .watch-face {
      width: 100%;
      height: 100%;

      border-radius: 50%;
      border: 5px solid #ccc;

      position: relative;

      .watch-hand {
        width: 2px;
        height: 40%;

        background-color: black;

        position: absolute;
        top: 10%;
        left: 50%;

        transform-origin: 50% 100%;
      }
    }
  }
}