@use '../mixins';

.auth-block {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .auth {
    width: 300px;
    height: 200px;

    border: 1px solid #fff;
    border-radius: 5px;

    padding: 30px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .col {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .field {
        width: 100%;

        display: flex;

        span {
          display: block;
          width: 100px;
        }
      }

      p {
        font-weight: bold;
        color: mixins.$red_color;
      }
    }

    .auth-button {
      button {
        width: 100%;
      }
    }
  }
}