@use '../mixins';

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .button-start {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;

    button {
      width: 100px;
      height: 100px;

      border: 1px solid #fff;
      border-radius: 50%;

      color: #fff;
      font-size: 24px;

      background-color: inherit;

      cursor: pointer;

      &:active {
        transform: scale(1.02);
      }

      &.save {
        border-color: mixins.$green_color;

        color: mixins.$green_color;
      }

      &.clear {
        border-color: mixins.$red_color;

        color: mixins.$red_color;
      }

      &.resume {
        border-color: mixins.$yellow_color;

        color: mixins.$yellow_color;
      }
    }
  }
}